body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.pinimg.com/originals/00/08/06/0008069a050ade9ecf214d6ddd18021d.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.banner {
    background: rgba(255, 255, 255, 0.9); /* White slightly transparent banner */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1; /* Ensures the banner is above the background */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(135deg, #4CAF50, #1a1a1a);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-bottom: 2px solid #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #fff;
    margin: 0;
}

section {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.8);
    padding: 30px;
    margin: 20px 0;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    position: relative;
    z-index: 0; /* Ensures the sections are below the banner */
}

section:hover {
    background-color: rgba(76, 175, 80, 0.9); /* Hover background color */
}

ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: '\2022';
    color: #4CAF50;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: linear-gradient(135deg, #4CAF50, #1a1a1a);
    color: #fff;
    border-top: 2px solid #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.intro-image img,
.education-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.8);
}
