body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(135deg, #4CAF50, #1a1a1a);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-bottom: 2px solid #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #fff;
    margin: 0;
    font-size: 50px;
    padding: 20px;
}

#introduction {
    padding-top: 20px; /* Adjust the padding as needed */
}

.banner {
    background: rgba(255, 255, 255, 0.85); /* White slightly transparent banner */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section {
    background-color: rgba(0, 0, 0, 0.85); /* Semi-transparent background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
    padding: 30px;
    margin: 20px 0;
    transition: all 0.3s ease; /* Smooth transition on hover */
    cursor: pointer;
}
.expand {
    width: calc(100% + 40px);
    margin: -20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: '\2022';
    color: #4CAF50;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: linear-gradient(135deg, #4CAF50, #1a1a1a);
    color: #fff;
    border-top: 2px solid #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.intro-image img,
.education-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
}

section {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
    padding: 30px;
    margin: 20px 0;
    overflow: hidden; /* Hide the overflow content */
    cursor: pointer;
}

.expandable {
    height: auto;
    max-height: 1000px; /* Adjust to a value larger than your expected content height */
    transition: max-height 0.3s ease;
}




