body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 20px;
}
.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #1a1a1a;
    overflow: hidden;
}
.menu-bar a {
    float: left;
    font-size: 20px;
    display: block;
    color: #04cae7;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    flex-grow: 1;
}
.menu-bar a:hover {
    background-color: #575757;
    font-size: 25px;
}

header {
    background: linear-gradient(135deg, #4CAF50, #1a1a1a);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-bottom: 2px solid #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #fff;
    margin: 0;
    font-size: 45px;
    padding: 15px;
}
h3 {
    color: #fff;
    margin: 0;
    font-size: 35px;
    padding: 15px;
}

#introduction {
    padding-top: 50px; /* Adjust the padding as needed */
}


section {
    background-color: rgba(0, 0, 0, 0.85); /* Semi-transparent background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
    padding: 30px;
    margin: 20px 0;
    transition: all 0.3s ease; /* Smooth transition on hover */
    cursor: pointer;
    scroll-margin-top: 50px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: linear-gradient(135deg, #1a7f91, #021F23);
    color: #fff;
    font-size: 10px;
    border-top: 2px solid #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;

}

.intro-image img{
    width: 300px;
    float: right;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
    margin-left: 20px;
    margin-bottom: 10px;
}

.jacobs-image img, .stepup-image img, .ops-image img{
    width: 150px;
    float: right;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
    margin-left: 20px;
    margin-bottom: 10px;
}
.jacobstxt p, .stepuptxt p, .opstxt p{
    text-align: justify;
}

.education-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
}
.work-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(4, 202, 231, 0.85);
}

.expandable {
    height: auto;
    max-height: 1000px; /* Adjust to a value larger than your expected content height */
    transition: max-height 0.3s ease;
}
.skills-table, .uf-relevant-coursework {
    width: 100%;
    border-collapse: collapse; /* Remove border spacing */
}

.skills-table td, .uf-relevant-coursework td {
    padding: 10px; /* Adjust padding as needed */
    border: none;
}
.education-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}